<div class="main-header">
  <div class="room-abst">
    hogefuga
  </div>
  <div class="chat-closed">
    <%= link_to "チャットを終了する", "#" %>
  </div>
</div>
<div class="chat">
  <div class="chat-box">
    <div class="chat-content">
      <div class ="chat-name">
        Tom
      </div>
      <div class="chat-time">
      2020/3/31(wed) 12:43:30
      </div>
    </div>
    <div class="chat-messages">
        おはよう
    </div>
  </div>
   <div class="chat-box">
    <div class="chat-content">
      <div class ="chat-name">
        Tom
      </div>
      <div class="chat-time">
      2020/3/31(wed) 12:43:30
      </div>
    </div>
    <div class="chat-messages">
        こんにちは
    </div>
  </div>
</div>
<div class="main-footer">
  <div class = "form-input">
    <input placeholder="type a message" class="message-form">
    <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
    <input type = "submit" value="送信" class="submit-form">
</div>